<div class="container">
    <div class="row p-3">
        <form class="border border-success rounded col-sm-6 p-3" >
            <div class="text-right">
                <label for="city">Enter your city</label>
                <input id="city" type="text" class="form-control" ng-model="city.city" placeholder="for example : Kyiv, Moscow e.t.c">
            </div>
            <br>
            <div class="text-right">
                <label for="country">Enter your country(ISO)</label>
                <!-- <input id="country" type="text" class="form-control" ng-model="city.countryCode" placeholder="for example : ua, gb, ca e.t.c"> -->
                <select ng-select id="country" class="form-control" ng-click="show()" name="country" ng-model="city.countryCode">
                    <option  ng-repeat="country in countries"  value="{{country._id}}">{{country.countryCode}}</option>
                </select>
            </div>
            <br>
            <div class="d-flex">
                    <div class="btn-group mx-auto">
                        <button type="button" ng-click="addCity(city.city, city.countryCode)">+</button>
                        <!-- <button type="button" ng-click="fetchCityDataList()">fetchCityList</button> -->
                        <button type="reset">clean</button>
                    </div>
               
            </div>
        </form>
        <!-- <div class="col-sm-4">
            <table class="table table-bordered">
                <tr>
                    <td colspan="3" class="text-center">
                        <em>request body</em> 
                    </td>
                </tr>
                <tr ng-repeat="requestItem in requestBody">
                    <td>{{$index + 1}}</td>
                    <td>{{requestItem.city}}</td>
                    <td>{{requestItem.countryCode}}</td>
                </tr>

            </table>
        </div> -->
    </div>
</div>