<div class="container">
        <div class="row p-3">
            <form class="border border-warning rounded col-sm-6 p-3" >
                <div class="text-right">
                    <label for="city">Edit your city {{5}}</label>
                    <input id="city" type="text" class="form-control" ng-model="editCity.city">
            
                </div>
                <br>
                <div class="text-right">
                    <label for="country">Edit your country(ISO)</label>
                    <!-- <input id="country" type="text" class="form-control" ng-model="editCity.countryCode"> -->
                    <select ng-select id="country" class="form-control" ng-click="show()" name="country" ng-model="editCity.countryCode">
                        <option  ng-repeat="country in countries"  value="{{country.id}}">{{country.countryCode}}</option>
                    </select>
                </div>
                <br>

                <div class="d-flex">
                        <div class="btn-group mx-auto ">
                            <button type="button" ng-click="changeData()">put</button>
                            <button type="reset">clean</button>
                        </div>
                   
                </div>

            </form>
        </div>
    </div>